[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=cuteRadio
Exec=/usr/bin/cuteradio
Icon=cuteradio
GenericName=Internet radio
Comment=Internet radio browser and player
