[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=cuteRadio
Exec=/usr/bin/invoker --type=d -s --splash=/opt/cuteradio/splash/splash-portrait.png --splash-landscape=/opt/cuteradio/splash/splash-landscape.png  /opt/cuteradio/bin/cuteradio
Icon=/usr/share/icons/hicolor/80x80/apps/cuteradio.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
